<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
   
   
      

    
<!-- New Wala -->


       <div class="navbar">
        <p class="logo">Mindra</p>
        <input type="text" placeholder="     Search" class="search"/>
        <a href="/posts/new" class="newpost">Create New Post</a>
        <div class="navbar-icons">
            <i class="fa-solid fa-house nav-icons one" style="color: #ffffff;" ></i>
           <i class="fa-solid fa-globe nav-icons two" style="color: #f7f7f7;"></i>
           <i class="fa-solid fa-user nav-icons three" style="color: #ffffff;"></i>
        </div>        
    </div>

    <div class="page">
    <div class="sidebar"></div>
    
    <div class="main">
    <% for(post of posts){ %>
       <div class="card">
           <div class="id">
               <i class="fa-solid fa-user nav-icons three" style="color: #0e0e0e;"></i>
                 <p class="username"><%=post.username%></p>
            </div>
                <hr>
                <h5 class="content"><%=post.content%></h5>
                <div class="buttons">
                    <form method="get" action ="/posts/<%=post.id%>">
                        <button class="btn">View</button>
                    </form>
    
                    <form method="get" action ="/posts/<%=post.id%>/edit">
                        <button class="btn">Edit</button>
                    </form>
    
                    <form method="post" action ="/posts/<%=post.id%>?_method=DELETE">
                        <button class="btn">Delete post</button>
                    </form>

                </div>
        </div>
        <% }%>
    </div>
    <div class="blank"></div>
    </div>
</body>
</html>